<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DbManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DbManager.Properties.Settings>
            <setting name="NetworkPath" serializeAs="String">
                <value>\\192.168.178.3</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=DESKTOP-5EHGTRL\SQLEXPRESS;Database=NTC; Trusted_Connection=True </value>
            </setting>
        </DbManager.Properties.Settings>
    </applicationSettings>
</configuration>